.content{
	margin-top:40px;
}
.page-header{
	padding:20px 0;
}
#drinklist{
	margin:10px 0;
}
#drinklist strong{
	color:#333;
	display:inline-block;
	border-right:1px solid #ccc;
	padding-right:10px;
	margin-right:10px;
}
#drinklist li{
	border:1px solid #ccc;
	border-radius: 5px;
	list-style: none;
	padding:10px;
	background:#efefef;
	margin-bottom:10px;
}
#drinklist .edit{
	margin-right:10px;
}
#person-form{
	border:1px solid #ccc;
	border-radius: 5px;
	padding:10px;
	background:#efefef;
}
#person-form legend{
	border-bottom:1px solid #ccc;
	display: block;	
	width:100%;
	padding-bottom:15px;
}
.edit-mode{
	background:#DAEDDA!important;	
}